<div class="container">
   <div class="pt-5 text-center">
      <h1 class="title"> CHOOSE Your Style</h1>
      <h2 class="mt-3 sub-title text-center">Check out the headset that suits your style.</h2>
      <div class="row pt-5">
         <div class="col-lg-6 col-sm-6">
            <img class="img-fluid img-top" src="/assets/img/model-1.png">
            <h2 class="inner-title p-4">Beats Solo3 Wireless</h2>
            <p class="description">Üstün ses kalitesi
               Beats, müziği sanatçıların istediği şekilde duymanız için yaratıldı. Beats studio buds kompakt bir
               tasarımla, tamamen
               Özelleştirilmiş bir akustik platform üzerinden güçlü ve dengeli bir ses sunmak üzere
               tasarlanmıştır.
               Tescilli ve çift öğeli
               Diyafram sürücüsü iki odacıklı bir muhafaza içinde bulunur ve sıra dışı stereo ses ayrımına sahip
               net
               bir ses sağlar.</p>
            <button class="look-at-button mt-2" routerLink="products" mat-button>LOOK AT NOW <i
                  class="fa-brands fa-apple"></i> </button>
         </div>
         <mat-divider *ngIf="isMobile" class="mt-5"></mat-divider>
         <div class="col-lg-6 col-sm-6">
            <img class="img-fluid img-top" src="/assets/img/earbuds.png">
            <h2 class="inner-title p-4">Beats Studio Buds</h2>
            <p class="description"> Beats Studio Buds, zarif ve kompakt kulak içi tasarımıyla hayatınızla kusursuz
               bir uyum sağlayacak şekilde geliştirildi. Uyumlu şarj kutusu, cebinize ya da çantanıza kolayca
               sığan,
               yuvarlak çizgilere sahip, ince tasarımıyla üstün bir taşınabilirlik sunuyor. Üstelik kulaklık
               uçları,
               IPX4 derecesinde suya ve tere karşı dayanıklı.</p>
            <button class="share-button mt-2" routerLink="products" mat-button>LEARN MORE</button>
         </div>
      </div>
      <div class="image-grid">
         <img class="grid-col-4 grid-row-4 img-mid" src="/assets/img/headphone-1.png">
      </div>
      <div class="row pt-5">
         <div class="col-lg-4 p-2 bottom-tile">
            <img data-aos="fade-right" class="img-fluid img-bottom" src="/assets/img/earbuds-3.png">
            <h2 [ngStyle]="{ 'width' : isMobile || isTablet ? '80' : '100' }" style="text-align:left;">
               <span class="title-headline-text">
                  Beats Fit Pro comfortably lock in place <span class="headline-cta" routerLink="contact">SHOP
                     NOW</span></span>
            </h2>
         </div>
         <div class="col-lg-4 p-2 bottom-tile">
            <img data-aos="fade-up" class="img-fluid img-bottom" src="/assets/img/earbuds-2.png">
            <h2 [ngStyle]="{ 'width' : isMobile || isTablet ? '80' : '100' }" style="text-align:left;">
               <span class="title-headline-text">
                  True wireless noise cancelling <span class="headline-cta" routerLink="contact">SHOP NOW</span></span>
            </h2>
         </div>
         <div class="col-lg-4 p-2 bottom-tile">
            <img data-aos="fade-up" class="img-fluid img-bottom" src="/assets/img/earbuds-4.png">
            <h2 [ngStyle]="{ 'width' : isMobile || isTablet ? '80' : '100' }" style="text-align:left;">
               <span class="title-headline-text">
                  BEATS FIT PRO: TWIST. FIT. GO. <span class="headline-cta" routerLink="contact">SHOP</span></span>
            </h2>

         </div>
      </div>
      <div class="row pt-5">
         <div class="col-lg-12 h-50">
            <img data-aos="fade-up" class="img-fluid h-50 img-bottom" src="/assets/img/earbuds-5.png">
            <h2 style="text-align:left;">
               <span class="title-headline-text">
                  “BEATS FIT PRO
                  ARE BASICALLY
                  PERFECT.“</span>
               <span class="title-headline-text">
                  -&nbsp;GIZMODO</span>
            </h2>

         </div>
      </div>
      <div class="row pt-5"  >
         <div class="col-lg-4 col-sm-12 bottom-tile">
            <img data-aos="fade-right"  class="img-fluid  img-bottom" src="/assets/img/bottom-4.png">
            <h2 [ngStyle]="{ 'width' : isMobile || isTablet ? '80' : '100' }" style="text-align:left;">
               <span  class="title-headline-text">
                  BEATS AND DR. DRE PAY TRIBUTE TO THE CITY OF LA IN NEW FILM <span class="headline-cta"
                     routerLink="contact">READ</span></span>
            </h2>
         </div>
         <div class="col-lg-8 col-sm-12 bottom-tile"  >
            <img data-aos="fade-up"  class="img-fluid  img-bottom" src="/assets/img/bottom-3.png">
            <h2  [ngStyle]="{ 'width' : isMobile || isTablet ? '60' : '100' }" style="text-align: left;">
               <span  class="title-headline-text ">
                  DROP: NBA AND BETTER GIFT SHOP
                  <span style="border-right: 2.0px solid rgb(22,22,22);">&nbsp;</span>
                  Powerbeats Pro <span class="headline-cta" routerLink="contact">SHOP</span>
               </span>
            </h2>
         </div>
      </div>

   </div>
</div>