<!--  TOP DIV   -->
<div class="container-fluid" style="background-color: #333333;">
    <div class="row">
        <div class="col-lg-12 text-center p-3">
            <a class="first-title"> Fast and free delivery <i class="fas fa-arrow-circle-right"></i> </a>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #161616;">
    <div class="row">
        <div class="col-lg-12 text-center p-2">
            <ul class="top-ul">
                <li>
                    <a (click)="scrollToDiv(earbudsSection)">
                        <img src="assets/img/earbuds-mini.png">
                        <p>Earbuds</p>

                    </a>
                </li>
                <li>
                    <a (click)="scrollToDiv(headPhonesSection)">
                        <img src="assets/img/headphone-mini.png">
                        <p>Heapdhones</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--  END TOP DIV   -->

<!-- BODY -->
<div class="container mt-5">
    <div class="row">
        <div #earbudsSection class="col-lg-12 col-sm-12 text-center">
            <h2 class="title">WIRELESS EARBUDS</h2>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-lg-6 col-sm-12 img-column">
            <div class="image-block">
                <img src="assets/img/product-1.png">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="text-block-div">
                <div class="red-title">
                    FREE ENGRAVING
                </div>
                <div class="product-div">
                    <p class="product-title">
                        Beats Fit Pro
                    </p>
                    <p class="price pt-3">
                        $199.99
                    </p>
                </div>
                <ul class="desc-ul">
                    <li>
                        Flexible, secure-fit wingtips
                    </li>
                    <li>
                        Active Noise Cancelling (ANC) and Transparency mode
                    </li>
                    <li>
                        Up to 6 hours of listening time with ANC on
                    </li>
                    <li>
                        Auto Play/Pause connection via Apple H1 chip
                    </li>
                </ul>
                <div class="color-section">
                    <span>4 colors</span>
                    <div style="margin-left:13px;background-color: #000;" class="color">
                    </div>
                    <div class="color" style="background-color: #f7ede2;"></div>
                    <div class="color" style="background-color: #6c6c6d;"></div>
                    <div class="color" style="background-color: #e4ccee;"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 pt-3">
                        <div class="button-div">
                            <button class="view-detail-btn" routerLink="" mat-button>&nbsp; &nbsp; &nbsp; &nbsp;VIEW
                                DETAILS &nbsp; &nbsp; &nbsp; &nbsp;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-lg-6 col-sm-12 img-column">
            <div class="image-block" data-aos="fade-up">
                <img src="assets/img/earbuds-3.png">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="text-block-div">
                <div class="red-title">
                    NEW COLORS
                </div>
                <div class="product-div">
                    <p class="product-title">
                        Beats Studio Buds
                    </p>
                    <p class="price pt-3">
                        $149.99
                    </p>
                </div>
                <ul class="desc-ul">
                    <li>
                        Supports Spatial Audio1 for immersive listening
                    </li>
                    <li>
                        Active Noise Cancelling (ANC) and Transparency mode
                    </li>
                    <li>
                        Up to 8 hours of listening time with ANC off2
                    </li>
                    <li>
                        One-touch pairing for Apple3 and Android4
                    </li>
                </ul>
                <div class="color-section">
                    <span>6 colors</span>
                    <div style="margin-left:13px;background-color: #384484;" class="color"></div>
                    <div class="color" style="background-color: #a4a4a4;"></div>
                    <div class="color" style="background-color: #f4cce4;"></div>

                    <div class="color" style="background-color: #2b2b2b;"></div>
                    <div class="color" style="background-color: #f7ede2;"></div>
                    <div class="color" style="background-color: #b10212;"></div>


                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 pt-3">
                        <div class="button-div">
                            <button class="view-detail-btn" routerLink="" mat-button>&nbsp; &nbsp; &nbsp; &nbsp;VIEW
                                DETAILS &nbsp; &nbsp; &nbsp; &nbsp;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-lg-6 col-sm-12 img-column">
            <div class="image-block" data-aos="fade-up" >
                <img src="assets/img/beats-flex.png">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="text-block-div">
                <div class="red-title">
                    LIMITED TIME OFFER
                </div>
                <div class="product-div">
                    <p class="product-title">
                        Beats Flex
                    </p>
                    <p class="price pt-3">
                        $49.99 <span class="discount">$69.99</span>
                    </p>
                </div>
                <ul class="desc-ul">
                    <li>
                        Magnetic earbuds with Auto-Play/Pause
                    </li>
                    <li>
                        Powerful, precise sound
                    </li>
                    <li>
                        Up to 12 hours of listening time
                    </li>
                    <li>
                        Apple W1 chip & Class 1 Wireless Bluetooth®
                    </li>
                </ul>
                <div class="color-section">
                    <span>4 colors</span>
                    <div style="margin-left:13px;background-color: #2b2b2b;" class="color"></div>
                    <div class="color" style="background-color: #f2fb97;"></div>
                    <div class="color" style="background-color: #adddf2;"></div>
                    <div class="color" style="background-color: #ddd;"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 pt-3">
                        <div class="button-div">
                            <button class="view-detail-btn" routerLink="" mat-button>&nbsp; &nbsp; &nbsp; &nbsp;VIEW
                                DETAILS &nbsp; &nbsp; &nbsp; &nbsp;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-sm-12 img-column">
            <div class="image-block" data-aos="fade-up" >
                <img src="assets/img/earbuds-4.png">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="text-block-div">
                <div class="red-title">
                    FREE ENGRAVING
                </div>
                <div class="product-div">
                    <p class="product-title">
                        Powerbeats Pro
                    </p>
                    <p class="price pt-3">
                        Starting from $179.95
                    </p>
                </div>
                <ul class="desc-ul">
                    <li>
                        Adjustable, secure-fit earhooks
                    </li>
                    <li>
                        Powerful sound with dynamic range & noise isolation

                    </li>
                    <li>
                        Up to 9 hours of listening time
                    </li>
                    <li>
                        Auto Play/Pause connection via Apple H1 chip
                    </li>
                </ul>
                <div class="color-section">
                    <span>3 colors</span>
                    <div style="margin-left:13px;background-color: #f7ece2;" class="color"></div>
                    <div class="color" style="background-color: #2b2b2b;"></div>
                    <div class="color" style="background-color: #374754;"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 pt-3">
                        <div class="button-div">
                            <button class="view-detail-btn" routerLink="" mat-button>&nbsp; &nbsp; &nbsp; &nbsp;VIEW
                                DETAILS &nbsp; &nbsp; &nbsp; &nbsp;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- headphones container -->
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div #headPhonesSection class="col-lg-12 col-sm-12 text-center">
            <h2 class="title">WIRELESS HEADPHONES</h2>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-sm-12 img-column">
            <div class="image-block" data-aos="fade-up">
                <img src="assets/img/product-3.png">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="text-block-div">
                <div class="product-div">
                    <p class="product-title">
                        Beats Solo3 Wireless
                    </p>
                    <p class="price pt-3">
                        $199.95


                    </p>
                </div>
                <ul class="desc-ul">
                    <li>
                        Adjustable fit with comfort-cushioned ear cups
                    </li>
                    <li>
                        Fine-tuned acoustics for clarity and depth with noise isolation

                    </li>
                    <li>
                        Up to 40 hours of listening time
                    </li>
                    <li>
                        Apple W1 chip & Class 1 Wireless Bluetooth®
                    </li>
                </ul>
                <div class="color-section">
                    <span>3 colors</span>
                    <div style="margin-left:13px;background-color: #2b2b2b;" class="color"></div>
                    <div class="color" style="background-color: #ca9994;"></div>
                    <div class="color" style="background-color: #b10212;"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 pt-3">
                        <div class="button-div">
                            <button class="view-detail-btn" routerLink="" mat-button>&nbsp; &nbsp; &nbsp; &nbsp;VIEW
                                DETAILS &nbsp; &nbsp; &nbsp; &nbsp;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-sm-12 img-column">
            <div class="image-block" data-aos="fade-up" 
              >
                <img src="assets/img/product-4.png">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="text-block-div">
                <div class="product-div">
                    <p class="product-title">
                        Beats Studio3 Wireless
                    </p>
                    <p class="price pt-3">
                        $349.95
                    </p>
                </div>
                <ul class="desc-ul">
                    <li>
                        Ergonomic ear cups with on-ear controls
                    </li>
                    <li>
                        Active Noise Cancelling (ANC)
                    </li>
                    <li>
                        Up to 22 hours of listening time
                    </li>
                    <li>
                        Apple W1 chip & Class 1 Wireless Bluetooth®
                    </li>
                </ul>
                <div class="color-section">
                    <span>7 colors</span>
                    <div style="margin-left:13px;background-color: #2b2b2b;" class="color"></div>
                    <div class="outer-color" style="background-color: #161616">
                        <div class="inner-color" style="background-color: #b51426">
                        </div>
                    </div>
                    <div class="color" style="background-color: #b10212;"></div>
                    <div class="color" style="background-color: #f7ede2;"></div>
                    <div class="color" style="background-color: #243652;"></div>
                    <div class="outer-color" style="background-color: #161616">
                        <div class="inner-color" style="background-color: #834f1b">
                        </div>
                    </div>
                    <div class="color" style="background-color: #585a5b;"></div>

                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 pt-3">
                        <div class="button-div">
                            <button class="view-detail-btn" routerLink="" mat-button>&nbsp; &nbsp; &nbsp; &nbsp;VIEW
                                DETAILS &nbsp; &nbsp; &nbsp; &nbsp;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="end-description mt-5 p-5">
        <p> Compatible hardware and software required. Works with compatible content in supported apps. Not all content
            available in Dolby Atmos.</p>
        <p><sup>2</sup> Testing conducted by Apple in April 2021 using preproduction Beats Studio Buds and Charging Case
            units and
            software paired with iPhone 11 Pro Max units and prerelease software. The playlist consisted of 358 unique
            audio tracks purchased from the iTunes Store (256-Kbps AAC encoding). Volume was set to 50% and Active Noise
            Cancellation and Transparency were turned off. Testing consisted of full Beats Studio Buds battery discharge
            while playing audio until the first Beats Studio Buds stopped playback. With Active Noise Cancellation
            turned on, listening time was up to 5 hours. Battery life depends on device settings, environment, usage,
            and many other factors.
        </p>
        <p><sup>3</sup> One-touch pairing requires iOS 14.6 or later.
        </p>
        <p><sup>4</sup> Fast Pair requires location enabled. Full access to features requires an Android 6.0 or newer
            device with
            Google Play Service enabled and Google Account.
        </p>
    </div>
</div>